# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Environments
venv/
.env

# IDE
.idea/
