{% extends "todo/base.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <div class="d-block mx-auto mb-2">
            <img src="{% static 'todo/logo.png' %}" alt="Logo" width="50" height="50" >
        </div>

        <h2 class="text-center mb-4">Sign up</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-flex align-items-center justify-content-between mt-3">
                <button type="submit" class="btn btn-primary rounded-pill px-4">Sign up</button>
                <p class="mb-0">
                    Already have an account?
                    <a href="{% url 'loginuser' %}" class="register-link">Log in</a>
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock %}